/* We Font
======================================== */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&family=Roboto+Condensed:wght@400;700&display=swap');
/*
font-family: 'Lato', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
*/

/* ========================================

  RESET CSS

======================================== */
a, abbr, acronym, address, applet, article, aside, audio, 
b, big, blockquote, body, caption, canvas, center, cite, code,
dd, del, details, dfn, dialog, div, dl, dt, em, embed, 
fieldset, figcaption, figure, form, footer, 
header, hgroup, h1, h2, h3, h4, h5, h6, html, 
i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,
object, ol, output, p, pre, q, ruby, 
s, samp, section, main, small, span, strike, strong, sub, summary, sup, 
tt, table, tbody, textarea, tfoot, thead, time, tr, th, td,
u, ul, var, video { 
	font-family: inherit; 
	font-size: 100%; 
	font-weight: inherit; 
	font-style: inherit; 
	vertical-align: baseline; 
	white-space: normal;
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0;
	background: transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, main { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}
td,th{text-align: left;}
img{
  vertical-align:bottom;
  max-width: 100%;
  height: auto;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


/* ========================================

  Common CSS

======================================== */
body{
	font-family:"Hiragino Kaku Gothic Pro", "繝偵Λ繧ｮ繝手ｧ偵ざ Pro W3", "繝｡繧､繝ｪ繧ｪ", "Meiryo", "�ｭ�ｳ �ｰ繧ｴ繧ｷ繝�け", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	-webkit-text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;
  font-size: 14px;
  color: #3C3835;
  overflow-y: scroll;
}

::selection { background: #3C3835; color: #fff; }
::-moz-selection { background: #3C3835; color: #fff; }


#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #fff;
  z-index: 9999;
}
#loader {
  display: none;
}
#loader .loader_wrap{
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}
#loader .loader_wrap img{
  margin: 0 auto;
  width: 100px;
  height: auto;
}

/* animation */
.movetext{opacity:0;}
.movetext span{opacity:0;}
.cover,
.cover_fast{
  position: relative;
}
.cover::after,
.cover_fast::after{
  content: "";
  display: block;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 103%;
  top:-1%;
  left:0;
  transition-property: width;
  transition-duration: 1s;
  transition-delay: .3s;
}
.cover_fast::after{
  transition-duration: .6s;
  transition-delay: 0;
}
.cover.show::after,
.cover_fast.show::after{
  width: 0;
}
.fade_list li,
.fade{
  opacity: 0;
  transition-duration: 1s;
  transition-property: opacity;
}
.fade_list li.show,
.fade.show{
  opacity: 1;
}
.fadeup_list{
  position: relative;
}
.fadeup_list li{
  opacity: 0;
  transform: translateY(100px);
  transition-duration: 1s;
  transition-property: opacity, transform;
}
.fadeup_list li.show{
  opacity: 1;
  transform: translateY(0);
}


/*-----------------------------------------------------------
  PC Styles
----------------------------------------------------------- */
@media screen and (min-width: 1281px) {
  a{
    transition-duration: .2s;
    transition-property: color;
  }
  a:link { color: #3C3835; text-decoration:none; }
  a:visited { color: #3C3835; text-decoration:none; }
  a:hover { color: #4BBE92; text-decoration:none; }
  a:active { color: #4BBE92; text-decoration:none; }
  
  /* header */
  header{
    /*position: fixed;*/
    z-index: 999;
    width: 100%;
    height: 100%;
    pointer-events:none;
  }
  header h1{
    pointer-events:all;
    position: absolute;
    width: 80px;
    top: 30px;
    left: 30px;
  }
  header .gnav,
  header .snav{
    pointer-events:all;
    position: absolute;
    position: fixed;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 1;
  }
  header .gnav{
    display: block!important;
    right: 25px;
    top: 30px;
  }
  header .snav{
    right: 25px;
    bottom: 30px;
  }
  header .gnav ul,
  header .snav ul .reserve{
    display: flex;
    align-items: center;
    width: 24px;
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
  }
  header .gnav ul li+li{
    margin-top: 15px;
  }
  header .snav ul .reserve{
    margin-bottom: 15px;
  }
  header .snav ul .reserve::before{
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
    background-image: url("../img/ic_reserve.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  header .snav ul .reserve::after{
    display: block;
    content: "";
    width: 24px;
    height: 1px;
    background: #3C3835;
    margin-top: 15px;
  }
  header .snav ul li+li{
    margin-top: 10px;
  }
  
  /*footer*/
  footer{
    position: relative;
    height: 50vh;
    margin-top: 260px;
  }
  footer .footer_video_wrapper{
    position: absolute;
    width: calc(100% - 80px);
    height: 50vh;
    overflow: hidden;
  }
  footer p{
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    bottom: 30px;
    text-align: center;
    width: 100%;
  }
  
}



/*-----------------------------------------------------------
  Tablet Styles
----------------------------------------------------------- */
@media screen and (min-width:901px) and (max-width:1280px) {
  a{
    transition-duration: .2s;
    transition-property: color;
  }
  a:link { color: #3C3835; text-decoration:none; }
  a:visited { color: #3C3835; text-decoration:none; }
  a:hover { color: #4BBE92; text-decoration:none; }
  a:active { color: #4BBE92; text-decoration:none; }
  
  /* header */
  header{
    /*position: fixed;*/
    z-index: 999;
    width: 100%;
    height: 100%;
    pointer-events:none;
  }
  header h1{
    pointer-events:all;
    position: absolute;
    width: 80px;
    top: 30px;
    left: 30px;
  }
  header .gnav,
  header .snav{
    pointer-events:all;
    position: absolute;
    position: fixed;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 1;
  }
  header .gnav{
    display: block!important;
    right: 25px;
    top: 30px;
  }
  header .snav{
    right: 25px;
    bottom: 30px;
  }
  header .gnav ul,
  header .snav ul .reserve{
    display: flex;
    align-items: center;
    width: 24px;
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
  }
  header .gnav ul li+li{
    margin-top: 15px;
  }
  header .snav ul .reserve{
    margin-bottom: 15px;
  }
  header .snav ul .reserve::before{
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
    background-image: url("../img/ic_reserve.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  header .snav ul .reserve::after{
    display: block;
    content: "";
    width: 24px;
    height: 1px;
    background: #3C3835;
    margin-top: 15px;
  }
  header .snav ul li+li{
    margin-top: 10px;
  }
  
  /*footer*/
  footer{
    position: relative;
    height: 50vh;
    margin-top: 200px;
  }
  footer .footer_video_wrapper{
    position: absolute;
    width: calc(100% - 80px);
    height: 50vh;
    overflow: hidden;
  }
  footer p{
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    bottom: 30px;
    text-align: center;
    width: 100%;
  }
}


/*-----------------------------------------------------------
  Mobile Styles
----------------------------------------------------------- */
@media screen and (max-width: 900px) {
  a{
    transition-duration: 0;
    transition-property: color;
  }
  a:link { color: #3C3835; text-decoration:none; }
  a:visited { color: #3C3835; text-decoration:none; }
  a:hover { color: #3C3835; text-decoration:none; }
  a:active { color: #3C3835; text-decoration:none; }
  
  /* header */
  header{
    position: fixed;
    z-index: 999;
    width: 100%;
    background: #fff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #F2F2F2;
  }
  header h1{
    position: absolute;
    width: 60px;
    left: 20px;
  }
  header .gnav{
    display: none;
    position: absolute;
    top: 60px;
    width: 100%;
    height: 100vh;
    background: #fff;
  }
  header .gnav ul{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 1;
  }
  header .gnav ul li{
    border-bottom: solid 1px #F2F2F2;
    text-align: center;
    padding: 20px;
  }
  header .gnav ul li a{
    display: block;
  }
  header .snav{
    position: absolute;
    right: 80px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 1;
  }
  header .snav ul{
    display: flex;
    align-items: center;
  }
  header .snav ul .reserve{
    display: flex;
    align-items: center;
  }
  header .snav ul .reserve::before{
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../img/ic_reserve.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
  }
  header .snav ul .reserve::after{
    display: block;
    content: "";
    width: 1px;
    height: 24px;
    background: #3C3835;
    margin-left: 15px;
  }
  header .snav ul li+li{
    margin-left: 15px;
  }
  
  /*menu-btn*/
  header .menu_btn{
    display: block;
    position:absolute;
    cursor:pointer;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-left: solid 1px #F2F2F2;
  }
  header .menu_btn_icon{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 1px;
    margin: 0 0 0 -15px;
    background: #3C3835;
    transition-duration: .2s;
    transition-property: transform;
  }
  header .menu_btn_icon:before,
  header .menu_btn_icon:after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 1px;
    background: #3C3835;
    transition-duration: .2s;
    transition-property: transform;
  }
  header .menu_btn_icon:before{
    margin-top: -10px;
  }
  header .menu_btn_icon:after{
    margin-top: 10px;
  }
  header .menu_btn .close{
    background: transparent;
  }
  header .menu_btn .close:before,
  header .menu_btn .close:after{
    margin-top: 0;
    width: 30px;
    background: #3C3835;
  }
  header .menu_btn .close:before{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  header .menu_btn .close:after{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  /*footer*/
  footer{
    position: relative;
    height: 40vh;
    margin-top: 120px;
  }
  footer .footer_video_wrapper{
    position: absolute;
    width: 100%;
    height: 40vh;
    overflow: hidden;
  }
  footer p{
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    bottom: 30px;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  body{
    font-size: 13px;
  }
  header .gnav ul{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 1;
  }
  /*footer*/
  footer{
    position: relative;
    height: 35vh;
    margin-top: 100px;
  }
  footer .footer_video_wrapper{
    position: absolute;
    width: 100%;
    height: 35vh;
    overflow: hidden;
  }
}

